#!/bin/bash

set -e

NAMESPACE=${1:?give namespace as argument}
DOMAIN=${2:?give domain as argument}

echo "[Delete configuration of site ${NAMESPACE}-${DOMAIN}]"
rm -f "/etc/nginx/sites-enabled/${NAMESPACE}-${DOMAIN}"
rm -f "/etc/nginx/sites-available/${NAMESPACE}-${DOMAIN}"
echo

echo "[Delete letsencrypt configuration of site ${NAMESPACE}-${DOMAIN}]"
rm -f "/etc/nginx/sites-enabled/${NAMESPACE}-${DOMAIN}-letsencrypt"
rm -f "/etc/nginx/sites-available/${NAMESPACE}-${DOMAIN}-letsencrypt"
echo

echo "[Delete letsencrypt renewal cron job]"
sed -i "/ letsencrypt .*${DOMAIN//./\\.}/d" /etc/crontab || :
echo

echo "[Restart nginx]"
service nginx restart && echo OK
echo
